@define-color bg #ffffff;
/* base00 */
@define-color fg #3b83bd;
/* base05 */

@define-color gray1 #77dde7;
/* base02 (selection) */
@define-color gray2 #afdafc;
/* base03 (borders) */
@define-color gray3 #0a64f5;
/* base04/base09 (accent) */
@define-color gray4 #6495ed;
/* base0A */
@define-color gray5 #0047ab;
/* base0E */

@define-color fg_bright #030303;
/* base06 */

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}